h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: fit-content;
    height: auto;
    padding: 10px;
    margin: 0 auto;
}

.container div div {
    border: 1px solid black;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: grab;
}

.row1, .row2, .row3 {
    display: flex;    
}

div button {
    width: 100%;
    height: 100%;
}

.winner {
    text-align: center;
    font-size: 24px;
}

.start-restart {
    margin: 0 auto;
    display: block;
    padding: 5px 10px;
}

dialog:open {
    opacity: 1;
}

.submit {
    padding: 5px 10px;
}